<header class="header" role="banner" id="top">
  <app-menu></app-menu>
  <div class="header2">
    <div class="header-text">
      <h1 class="heading-primary">
        <!-- Replace the following name with your name -->
        <span style="color: #fff; font-weight: 600;"><span style="color: rgb(82, 240, 82);">Trigo</span> María Lorena</span>
      </h1>
      <!-- Put a small paragraph about yourself -->
      <p style="padding-left: 10px;">Full Stack Developer</p>
      <a href="contact" class="boton1">Contáctame</a>
    </div>
  </div>
</header>
