<div id="newExp">
    <div class="row">
        <div class="container">
            <div>
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombreE">Nom<span>bre de la instit</span>ución</label>
                        <input type="text" class="form-control" name="nombreE" id="nombreE" [(ngModel)]="nombreE" required>
                    </div>
                    <div class="form-group tw">
                        <label for="descripcionE">Descripción de sus estudios</label>
                        <input type="text" class="form-control" name="descripcionE" id="descripcionE" [(ngModel)]="descripcionE" required>
                    </div>
                    <button class="btn6">
                        AGREGAR EDUCACIÓN
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
