<app-menu></app-menu>
<section id="contact">
  <div class="contact container">
      <div>
          <h1 class="section-title tr"><span>Info</span>rmación</h1>
      </div>
      <div class="contact-items">
        <div class="twtt">
          <div class="contact-item">
            <div class="icon"><i class="fa-solid fa-phone"></i></div>
            <div class="contact-info" id="icon1">
                <h1>Teléfono</h1>
                <h2>+543815138020</h2>
            </div>
          </div>
          <div class="contact-item">
              <div class="icon"><i class="fa-solid fa-envelope"></i></div>
              <div class="contact-info gg">
                <h1>Email</h1>
                <br>
                <h2>Trigomarialorena@gmail.com</h2>
              </div>
          </div>
        </div>
        <div class="ytr">
          <div class="contact-item">
            <div class="icon"><i class="fa-solid fa-map-location"></i></div>
            <div class="contact-info" id="icon2">
                <h1>Ubicación</h1>
                <h2>Tucumán, Argentina</h2>
            </div>
          </div>
          <div class="contact-item">
                <div class="icon"><i class="fa-solid fa-user"></i></div>
                <div class="contact-info tt">
                    <h1>Redes Sociales</h1>
                    <a href="https://www.facebook.com/lorena.trigo.583" target="_BLANK"><i class="fa-brands fa-facebook fa-3x fa-fw"></i></a>
                    <a href="https://www.instagram.com/mlorenatrigo/" target="_BLANK"><i class="fa-brands fa-instagram fa-3x fa-fw"></i></a>
                </div>
          </div>
        </div>
      </div>
  </div>
  <app-footer></app-footer>